{% load static %}
  <div class="card">
    <a href="{{ card.get_absolute_url }}"><img style="height: 300px; background-size: cover; background-position: center;" src="{{card.product_media.first.image.url}}" alt="" width="100%"></a>
    <div class="desc">
        <span>{{card.description}}</span>
        <a style="text-decoration: none;" href="{{ card.get_absolute_url }}"><h5>{{card.title}}</h5></a>
        <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h4 >{{card.price}} сом</h4>
    </div>
    <div class="icon-container">
        <img width="18px" class="cart-icon" src="{% static 'image/icons/shopping-cart.png' %}" alt="Icon">
    </div>
</div>