{% load static %}
  <div class="card">
    <img src="{{card.product_media.first.image.url}}" alt="" width="100%">
    <div class="desc">
        <span>{{card.description}}</span>
        <h5></h5>
        <div class="star-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h4>{{card.price}} сом</h4>
    </div>
    <div class="icon-container">
        <img width="18px" class="cart-icon" src="{% static 'image/icons/shopping-cart.png' %}" alt="Icon">
    </div>
</div>