<div class="card mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <div>
            <img
            src="{{product.card.product_media.first.image.url}}"
            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
        </div>
       
          <div class="ms-3">
            <h5>{{product.card.title}}</h5>
            <p class="small mb-0">{{product.card.description|truncatechars:40}}</p>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center">
          <div style="width: 50px;">
            <h5 class="fw-normal mb-0">{{product.count}}</h5>
          </div>
          <div style="width: 80px;">
            <h5 class="mb-0">{{product.card.price}} сом</h5>
          </div>

          <input type="hidden" name="product" value="{{product.id}}">
             <button style="outline: none; border: none; background: transparent;color: #cecece;" type="submit"><i class="fas fa-trash-alt"></i></button> 

        </div>
      </div>
    </div>
  </div>