<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Контакты</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'products' %}">Одежда</a>
    </li>
    {% if not  request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Войти</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
    </li>
    {% else %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{request.user.username}}
      </a>
      <ul class="dropdown-menu bg-dark dropdown-menu-dark" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
      </ul>
    </li>
    {% endif %}
  </ul>